﻿
.play-download {
    display: inline-block;
    padding: .2em .5em;
    background: #60af7d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/*.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #fb8153;
    border-color: #fb8153;
    color: #fff;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}*/

.number {
    background-image: url('../../asset/client/img/bg-number.gif');
    color: #f15a22;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    height: 23px;
    width: 24px;
    /*padding-top: 4px;
        margin-left: 10px;*/
    /*margin-top: 10px;*/
    font-weight: bold;
}

.sidebar-nav {
    background-color: #f9f9f9;
    border: solid 1px #eee;
    margin: 0;
    padding: 0;
    font-size: 1em;
    margin-bottom: 40px;
}

    .sidebar-nav li {
        padding: 0;
        list-style: none;
    }

        .sidebar-nav li a > i {
            margin: 2px 5px 0 0;
            font-size: 1.1em;
            color: #999;
        }

        .sidebar-nav li a {
            display: block;
            padding: 5px 15px;
            color: #0a589a;
            text-decoration: none;
            border-left: solid 3px #e49c9e;
            /*background-color: #f3f3f3;*/
        }

    .sidebar-nav > li > a:after {
        font-family: 'FontAwesome';
        content: "\f107";
        font-size: 1.2em;
        float: right;
    }

    .sidebar-nav > li > a.collapsed:after {
        content: "\f106";
    }

    .sidebar-nav li a.collapsed {
        background-color: transparent;
        border-left: solid 3px #e49c9e;
    }

    .sidebar-nav li a:hover,
    .sidebar-nav li a:focus,
    .sidebar-nav li a:active {
        border-color: #333;
        background-color: #f3f3f3;
    }

.menu-submenu li a {
    border-color: #ddd;
    padding: 10px;
    background-color: transparent;
}
.menu-submenu li a.active {
    /*border-color: #0a589a;*/
    background-color: bisque;
}

.menu-submenu li.active a {
    border-color: #333;
    background-color: #f3f3f3;
}

.menu-submenu li:last-child a {
    border-bottom: solid 1px #eee;
}

.sidebar-nav li.active > a {
    border-left-color: #333;
    background-color: #f3f3f3;
}




.table_docs_list * {
}

.table_docs_list td.vb_list_info {
    /*font-weight: bold;*/
    line-height: 180%;
}

.table_docs_list td.vb_hieu_luc {
    font-size: 12px;
    width: 150px;
    line-height: 280%;
}

.icon_doc_list {
    font-size: 150% !important;
    margin-bottom: 5px;
    color: #033e94;
}

.vb_list {
    cursor: pointer;
}

.pagination {
    float: right;
}

.breadcrumb {
    margin: 0;
    display: inline-block;
    background: none;
    color: #fff;
    font-size: 1.1em;
    position: relative !important;
    top: 0px;
    /*left: -10px;*/
}

td.vb_list_links {
    border-top: none !important;
    min-height: 30px;
    vertical-align: bottom !important;
    padding-bottom: 20px !important;
}
.page-title{
    border-left:3px solid #e49c9e;
    line-height:34px;
}

table.table_docs_list tbody:hover {
    background-color: #f5f5f5;
}
    .box-law{
        padding:10px 10px 10px 10px;
        margin:unset;
    }
    .box-law-left-menu{
        display:block;
    }
    .navbar-toggle-law-left-menu{
        display:none;
    }


@media(max-width:768px){
    .nav > li > a {
    position: relative;
    display: block;
    padding: 8px 5px 12px 5px;
}
	.title_attribute{
		padding:5px 5px 0 5px;
	}
    .table_docs_list td.vb_hieu_luc{
        display:none;
    }
    .hideContent {
        display:none;
    }
    .box-law{
        padding:5px 5px 5px 5px;
        margin:unset;
    }
    .box-law-left-menu{
        height: 100%;
        width: 80%;
        position: absolute;
        z-index: 5;
        left: 0;
        background-color: #f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 30px;
        margin-top: 41px;
    }
    .box-law-right{
        padding-left:0;
    }
    .page-title{
        border:none;
        line-height:34px;
    }
    .navbar-toggle-law-left-menu{
        display:inline-block;
        background: white;
        margin: 7px;
    }
    .navbar-toggle-law-left-menu .icon-bar + .icon-bar {
        margin-top: 4px;
        margin-bottom:4px;
    }
    .navbar-toggle-law-left-menu .icon-bar {
        background-color: #212121;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-top:4px;
    }
}
.breadcrumbLaw{
    padding-left:10px;
    padding-bottom:5px;
    background:#f5f5f5;
}
.breadcrumb1 li span {
    left: 0em;
    padding-right: 1em;
    color: #3399cc;
}

/*template search*/
    .inputdate{
                height: 28px;
        line-height: 28px;
        width: 25%;
    }
    .inputtext, .inputtext2, .select-text {
        height: 28px;
        line-height: 28px;
        width: 100%;
    }

    .showSearchAdvance {
        border: 1px solid #eaeaea;
        float: left;
        padding: 20px;
        width: 100%;
        background: white;
    }

    .item-checkbox {
        float: left;
        margin-right: 10px;
        color: #333;
    }

    .radio {
        margin-top: unset;
    }

        .radio input[type=radio] {
            position: absolute;
            opacity: 0;
        }

            .radio input[type=radio] + .radio-label:before {
                content: '';
                background: #fff;
                border-radius: 100%;
                border: 1px solid #a67942;
                display: inline-block;
                width: 12px;
                height: 12px;
                position: relative;
                margin-right: 8px;
                cursor: pointer;
                text-align: center;
                -webkit-transition: all 250ms ease;
                transition: all 250ms ease;
            }

            .radio input[type=radio]:checked + .radio-label:before {
                background-color: #a67942;
                box-shadow: inset 0 0 0 2px #fff;
            }


.bootstrap-select.btn-group .dropdown-toggle[title="--- Lĩnh vực ---"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="--- Cơ quan ban hành ---"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="--- Loại văn bản ---"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="--- Đơn vị soạn thảo ---"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="--- Tình trạng ---"] .filter-option {
  color: black;
}

.bootstrap-select.btn-group .dropdown-toggle[title="-Lĩnh vực-"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="-Cơ quan ban hành-"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="-Loại văn bản-"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="-Đơn vị soạn thảo-"] .filter-option {
  color: black;
}
.bootstrap-select.btn-group .dropdown-toggle[title="-Tình trạng-"] .filter-option {
  color: black;
}


.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  color: #a67942;
}

.bootstrap-select.btn-group .dropdown-menu>li>a {
  color: #a67942;
}

.bootstrap-select.btn-group .dropdown-menu>li>a:hover:not(:focus) {
  color: #fb8153;
}

.bootstrap-select.btn-group .dropdown-menu {
  background-color: ghostwhite;
}

/*nav-menu-van ban*/
    .tabs-group > li.active > a, .tabs-group > li.active > a:hover, .tabs-group > li.active > a:focus {
        color: white;
        cursor: default;
        background-color: #fb8153;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    .tabs-group > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        background: #eee;
    }

        .tabs-group > li > a:hover {
            text-decoration: none;
            background-color: #fb8153;
        }